<div class="container">

    <h2 class="text-center text-danger"> 添加首页轮播 </h2>

    <form [formGroup]="myForm" (ngSubmit) = "onSubmit()" >

        <div class="form-group">
            <label for="title"> </label>
            <input type="text" class="form-control" formControlName="name" placeholder="名称" name="title" id="name">
            <div class="text-danger" *ngIf="myForm.controls.name.invalid && myForm.controls.name.dirty">商品名称不能为空</div>
        </div>

        <div class="form-group">
            <label for="detail"> 图片链接 </label>
            <input type="text" class="form-control" formControlName="imageFeaturedUrl" placeholder="商品详情" name="detail" id="imageFeaturedUrl">
        </div>
        
        <button type="submit" class="btn btn-danger" [disabled]="myForm.invalid"   > 添加轮播 </button>

        <a href="/admin/banner-list" class="btn btn-primary float-right"> 返回 </a>

    </form>

</div>