<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="onSubmit()">

  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">

      <nz-input-group [nzPrefix]="user">
        <input type="text" nz-input formControlName="userName" placeholder="Enter your username" />
      </nz-input-group>
      <ng-template #user><i nz-icon nzType="user" nzTheme="outline"></i></ng-template>
    </nz-form-control>
  </nz-form-item>

  <!-- <ng-template #user><i nz-icon nzType="user"></i></ng-template>
  <ng-template #suffixTemplateInfo><i nz-icon nz-tooltip nzTooltipTitle="Extra information" nzType="info-circle"></i>
  </ng-template> -->

  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group [nzPrefix]="lock">
        <input type="password" nz-input formControlName="password" placeholder="Enter your password" />
        <ng-template #lock><i nz-icon nzType="lock" nzTheme="outline"></i></ng-template>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <div nz-row class="login-form-margin">
    <div nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember">
        <span>Remember me</span>
      </label>
    </div>

  </div>

  <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
  Or
  <a routerLink="/register">register now!</a>
  <a routerLink="/register" class="float-right">Forgot password</a>
</form>










<!-- <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="onSubmit()">

  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-input-group nzPrefixIcon="user">
        <input class="form-control" type="text" formControlName="userName" placeholder="Username" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input class="form-control" type="password" formControlName="password" placeholder="Password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <div nz-row class="login-form-margin">

    <div nz-col>
      <label class="form-check-label" >
        <span>Remember me</span>
      </label>
    </div>

  </div>

  <button class="btn btn-primary btn-block">Log in</button>
  Or
  <a routerLink="/register">register now!</a>
  <a routerLink="/register" class="float-right">Forgot password</a>
</form> -->