<ul nz-menu nzMode="inline" class="sider-menu" nzTheme="dark" >
    <li nz-submenu nzIcon="user" nzTitle="用户中心">

      <ul>
        <li nz-menu-item>用户列表</li>
        <li nz-menu-item>新增用户</li>
      </ul>

    </li>

    <li nz-submenu nzTitle="轮播管理" nzIcon="laptop">
      <ul>
        <li nz-menu-item>
          <a [routerLink]="['./banner-list']" routerLinkActive="router-link-active" >
            轮播列表
          </a>
        </li>

        <li nz-menu-item>
          <a [routerLink]="['./banner-create']" routerLinkActive="router-link-active" >
            添加轮播
          </a>
        </li>
      </ul>
    </li>
    
    <li nz-submenu nzOpen nzTitle="商品中心" nzIcon="notification">
      <ul>

        <li nz-menu-item nzSelected>
          <a [routerLink]="['./product-list']" routerLinkActive="router-link-active" >
            商品列表
          </a>
        </li>

        <li nz-menu-item>
          <a [routerLink]="['./product-create']" routerLinkActive="router-link-active" >
            添加商品
          </a>
        </li>

      </ul>
    </li>
  </ul>