<nz-layout>

  <app-topbar>
    <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="btn btn-link"> 退出 </a>
    <button type="button" class="btn btn-danger" (click)="logout()"> 退出 </button>
  </app-topbar>

  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">

      <app-leftbar></app-leftbar>
      
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content style="min-height: 600px;">
        <!-- Content -->
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>