<div class="container">
    <a [routerLink]="['/banner-create']" routerLinkActive="router-link-active" class="btn btn-info"> 创建轮播 </a>
    <table class="table">
        <thead>
            <tr>
                <!-- <th> ID </th> -->
                <th> 名称 </th>
                <th> 详情 </th>
                <th> 图片链接 </th>
                <th> 操作 </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let banner of banners" >
                <td>
                    <img src="{{ banner.imageFeaturedUrl }}" width="107" height="60" alt="{{ banner.name }}">
                </td>
                <td>{{ banner.name }}</td>
                <td>{{ banner.imageFeaturedUrl }}</td>
                <td>

                    <!-- <button class="btn btn-danger" 
                    style="margin-left: 2rem;" (click)="deleteProduct(product.id)" > 删除 </button> -->

                    <!-- <button nz-button nzType="primary" (click)="editProduct( product )" > 编辑 </button> -->

                    <a [routerLink]="['/banner-edit' , banner._id]" routerLinkActive="router-link-active"
                        class="btn btn-primary"> 编辑 </a>

                    <button class="btn btn-danger" style="margin-left: 2rem;" (click)="deleteBanner(banner._id)"> 删除
                    </button>
                    <!-- <button nz-button nzType="primary" nzDanger style="margin-left: 2rem;" (click)="deleteProduct(product._id)" > 删除 </button> -->
                </td>
            </tr>
        </tbody>
    </table>

</div>